$mainFont: 'monospace';



body{
    font-family: $mainFont;
    background-color: red($color: #000000);
}

h1{
    font-family: $mainFont;
    padding-left: 10px;
    font-size: large; 
    background-color: blue;
}

h2{
    font-family: $mainFont;
}