.tickets {
    padding: 5rem 0;
    h3 {
        text-align: center;
        padding-bottom: 5rem;
    }

    .container-ticket {
        text-align: center;
        @include tablet {
            @include grid(2,5rem);
        }
    }
}

.pass {

    .service {
        border: 1px solid #e1e1e1;
    }

    &-header {
        background-color: $mainColor;
        color: white;
        p {
            text-transform: uppercase;
        }
    }
    &-body {
        
        ul {
            @include reset-list;
            li {
                padding: 1rem;
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }
    &-footer {
        background-color: $secondColor1;
        p {
            font-size: 2.4rem;
            font-weight: $bold;
            margin-bottom: 0rem;
        }
    }
}